.Header {
  background-color: #222;
}

.Header__list {
  list-style-type: none;
  padding: 0;
  width: 800px;
  margin: 0 auto;
}

.Header__item {
  display: inline-block;
}

.Header__link {
  display: block;
  padding: 5px;
  background-color: #222222;
  color: #00d8ff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.Header__image {
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
