.Filters {
  display: table-row;
}

.Filters__cell {
  display: table-cell;
  padding: 5px 10px;
  text-align: center;
  position: relative;
}

.Filters__cell::before {
  content: '|';
  position: absolute;
  left: 0;
}

.Filters__cell:first-child::before {
  display: none;
}
